
  header {
    display: flex;
      align-items: center;
      justify-content: space-around;
      position: fixed;
      height: 60px;
      transition: all 0.5s;
      padding: 0 15px;
      background: #2e2f30;
      overflow-y: auto;
      width: 100%;
  }

  header nav {
      margin-right: 350px;
      margin-left: 100px;
  }


  header nav a {
    text-decoration: none;
    color: rgb(223, 167, 12);
    padding: 10px 20px;
    text-transform: uppercase;
    position: relative;
    transition: all 350ms;
  }
  
  header nav a:hover {
    background-color: #ffd369;
    color: #222
  }
  
  header nav a:hover::after {
    background: #fff;
    height: 3px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
   
  .headerImg{
    width: 30px ;
    height:35px;
    float: left;
  }

  #logoImg {
      width: 80px;
      height: 100%;
  }
     
  .navSec li {
    padding: 5px 10px;
    display: inline-block;
    transition: all 500ms;
    margin-right: 1px;
    font-size: 24px;
    font-style: oblique;
     font-weight: bold;
     align-items: center;
     justify-content: center;
   
  }

 

  body{
         width: 100%;
         height: auto;
        margin: auto;
        font-family: 'Roboto', sans-serif;
      
}
.homeMain {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
  
  form label {
    font-weight: small;
    font-style: oblique;
    font-size: 20px;
  }

    
  
    
  .bussMall-Container{
      
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        box-sizing: border-box;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        align-items: center;
        justify-items: center;
      }


    .resultSection{
        margin-top: 20px;
        margin-left: 20px;
        border: 3px double rgb(78, 78, 76);
        width: 100%;
        height: 100px;

    }

    .reportSection{

      margin-top: 20px;
      margin-left: 20px;
      border: 3px double rgb(78, 78, 76);
      width: 100%;
      height: 100px;

    }
    
    .btn{

        margin-top: 20px;
        margin-left: 20px;
    }

 
#resultBtn{
  background-color: #d49c18;
  width: 130px;
  height: 50px;
  color: rgb(240, 239, 245);
  border: 1px dotted rgb(32, 3, 160);
    border-radius: 15%;
    font-style: oblique;
}
     
    .divContainer img {
        border: 3px double rgb(223, 167, 12);
        border-radius: 15%;
        width: 330px;
        height: 350px;
        object-fit: cover;
        }  

 
    footer {
        position: fixed;
        bottom: 0px;
      margin-top: 15px;
      padding: 2px;
      color: rgb(223, 167, 12);
        font-size: 14px;
        font-style: italic;
        font-weight: 2px;
        background: #040b14;
      text-align: center;
      justify-content: center;
      width: 100%;
      height: 30px;
  
    }

   
  
 
  